{% for item in menu %}
    <a href="#" data-bind="
        click: function() { toggle('{{ item.id }}') },
        css: { active: menu('{{ item.id }}') }
    " class="documentation-menu-title active">
        {{ item.title }}
    </a>
    <ul class="documentation-menu-child" data-bind="
        css: { visible: menu('{{ item.id }}') }
    ">
        {% for child in item.links %}
            {% if child.isPage %}
                <li>
                    <a href="/docs/{{ child.url }}"
                       class="{% if child.url == current %}active{% endif %}">{{ child.title }}</a>
                </li>
            {% else %}
                <li>
                    <a href="{{ child.url }}" target="_blank" rel="nofollow">{{ child.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endfor %}
