{% for category in menu %}
    <a href="#" data-bind="
        click: function() { toggle('{{ category.id }}') },
        css: { active: menu('{{ category.id }}') }
    " class="documentation-menu-title active">
        {{ category.title }}
    </a>
    <ul class="documentation-menu-child visible" style="opacity: 0" data-bind="
        css: { visible: menu('{{ category.id }}') },
        style: { opacity: 1 }
    ">
        {% for page in category.pages %}
            {% if page.type == "document" %}
                <li>
                    <a href="/docs/{{ page.url }}"
                       class="{% if page.url == current %}active{% endif %}">{{ page.title }}</a>
                </li>
            {% else %}
                <li>
                    <a href="{{ page.url }}" target="_blank" rel="nofollow">{{ page.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endfor %}
